.contenedor{
	margin: auto;
	height: 25em;
	width: 25em;
	background: linear-gradient(to left, orange, red);	
	border-radius: 5em;
}
label{
	font-size: 3em;
	font-weight: bold;
}
.info{
	width: 22em;
	height: 3em;
	border-radius: 25em;
}
body{
	background: linear-gradient(to left, blue, cyan);
}
.botones{
	height: 3em;
	width: 10em;
	border-radius: 25em;
	background: white;
	font-size: 15px;
	font-weight: bold;
}